<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="admin-template/base::layout(~{:: .main-content})">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <section class="main-content">
        <h4 class="mt-4">Create Category</h4>
        <hr>
        <div class="row mb-3">
            <div class="col-md-8 offset-md-2">
                <form method="POST" th:action="@{/admin-panel/categories/create-category/process}" th:object="${category}">
                    <div class="card m-2 p-3">
                        <div class="card-body">

                            <!-- FLASH MESSAGE START -->
                            <div th:if="${message}">
                                <div class="alert text-center" th:classappend="${message.type}" role="alert" th:text="${message.content}">
                                </div>
                            </div>
                            <!-- FLASH MESSAGE END -->

                            <h4 class="text-center mb-4">New Category</h4>

                            <div class="form-group">
                                <label for="title" class="form-label">Category Name</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="title"
                                        th:field="*{title}"
                                        th:value="${category.title}"
                                        th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}"
                                        placeholder="Enter Category Name"
                                >

                                <div class="invalid-feedback" th:each="error : ${#fields.errors('title')}" th:text="${error}">

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="form-label">Description</label>
                                <textarea
                                        class="form-control"
                                        id="description"
                                        rows="5"
                                        th:field="*{description}"
                                        th:value="${category.description}"
                                        th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                                        placeholder="Write Something About This Category"></textarea>

                                <div class="invalid-feedback" th:each="error : ${#fields.errors('description')}" th:text="${error}">

                                </div>
                            </div>

                            <input type="submit" th:value="Submit" class="btn btn-primary mt-3">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>