<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="admin-template/base::layout(~{:: .main-content})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="main-content">
        <h4 class="mt-4">My Profile</h4>
        <hr>
        <div class="row mb-4">
            <div class="col-md-8 offset-md-2">
                <div class="card bg-light">
                    <div class="card-body m-2 p-3">
                        <h4 class="text-center" th:text="${user.name}"></h4>
                    </div>
                    <div class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p th:text="${user.description}"></p>
                        </li>
                        <li class="list-group-item">
                            Email: <b><span th:text="${user.email}"></span></b>
                        </li>
                        <li class="list-group-item">
                            <a class="btn btn-primary" th:href="@{admin-panel/profile/{username}/edit (username = ${user.name}) }">Edit Profile</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>