<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Mini Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/blog-resources/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/blog-resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/blog-resources/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/blog-resources/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/blog-resources/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/blog-resources/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/blog-resources/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/blog-resources/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{/blog-resources/css/aos.css}">

    <link rel="stylesheet" th:href="@{/blog-resources/css/style.css}">
</head>
<body>
    <div class="site-wrap">
        <!-- Mobile Menu Section Starts -->
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!-- Mobile Menu Section Starts -->

        <!-- Header Section Starts -->
        <header class="site-navbar" role="banner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 search-form-wrap js-search-form">
                        <form method="get" action="#">
                            <input type="text" id="s" class="form-control" placeholder="Search...">
                            <button class="search-btn" type="submit">
                                <span class="icon-search"></span>
                            </button>
                        </form>
                    </div>

                    <div class="col-4 site-logo">
                        <a href="posts.html" class="text-black h2 mb-0">Mini Blog</a>
                    </div>

                    <div class="col-8 text-right">
                        <nav class="site-navigation" role="navigation">
                            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/posts/0}">Posts</a></li>
                                <li><a th:href="@{/categories}">Categories</a></li>
                                <li><a th:href="@{/signup}">Sign up</a></li>
                            </ul>
                        </nav>
                        <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
                </div>
            </div>
        </header>
        <!-- Header Section Ends -->

        <!-- Replaceable Content -->
        <div th:replace="${content}">

        </div>

        <!-- Footer Section Starts -->
        <div class="site-footer">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h3 class="footer-heading mb-4">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This site is developed by <a href="https://www.github.com/meheedihasaan" target="_blank" >Mehedi Hasan</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Section Ends -->
    </div>

<script th:src="@{/blog-resources/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/blog-resources/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/blog-resources/js/jquery-ui.js}"></script>
<script th:src="@{/blog-resources/js/popper.min.js}"></script>
<script th:src="@{/blog-resources/js/bootstrap.min.js}"></script>
<script th:src="@{/blog-resources/js/owl.carousel.min.js}"></script>
<script th:src="@{/blog-resources/js/jquery.stellar.min.js}"></script>
<script th:src="@{/blog-resources/js/jquery.countdown.min.js}"></script>
<script th:src="@{/blog-resources/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/blog-resources/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/blog-resources/js/aos.js}"></script>

<script th:src="@{/blog-resources/js/main.js}"></script>


</body>
</html>