<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="blog-template/base::layout(~{:: .main-content})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="main-content bg-light">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-5 mx-2 p-3">
                    <div class="card-body">
                        <h4 class="text-center">Your profile is updated successfully. Please <a th:href="@{/logout}">sign out</a> to continue.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>