<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="blog-template/base::layout(~{:: .main-content})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        <!-- Post Header Section Starts -->
        <div class="site-cover site-cover-sm same-height overlay single-page" th:style=" 'background-image:url(' +@{'/img/'+${post.imageUrl}}+ ');' ">
            <div class="container">
                <div class="row same-height justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="post-entry text-center">
                            <span th:text="${post.category.title}" class="post-category text-white bg-primary mb-3"></span>
                            <h2 th:text="${post.title}" class="mb-4"></h2>
                            <div class="post-meta align-items-center text-center">
                                <p style="font-size: 16px">
                                    By <b><a th:text="${post.user.name}" th:href="@{/authors/{id}/{name}/0 (id = ${post.user.id}, name = ${post.user.name}) }"></a></b>
                                </p>
                                <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Post Header Section Ends -->

        <!-- Post Body Section Starts -->
        <section class="site-section py-lg">
            <div class="container">
                <div class="row blog-entries element-animate">
                    <div class="col-md-8">
                        <div class="post-content-body">
                            <p th:text="${post.content}"></p>
                        </div>
                        <div class="pt-5">
                            <p>Category:  <span th:text="${post.category.title}" class="badge badge-primary"></span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center mb-3">About Author</h2>
                        <div class="card text-center p-2">
                            <div class="card-body">
                                <h4 th:text="${post.user.name}"></h4>
                                <hr>
                                <p th:text="${post.user.description}"></p>
                                <hr>
                                <p th:text="${post.user.email}"></p>
                                <hr>
                                <a class="btn btn-primary" th:href="@{/authors/{id}/{name}/0 (id = ${post.user.id}, name = ${post.user.name}) }">View More Post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Post Body Section Ends -->

        <!-- Related Posts Section Starts -->
        <div class="site-section bg-light">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-12">
                        <h2>More Related Posts</h2>
                    </div>
                </div>

                <div class="row">
                    <div th:each="post : ${relatedPosts}" class="col-md-6 mb-3">
                        <a th:href="@{/posts/{id}/{title} (id = ${post.id}, title = ${post.title}) }" class="hentry img-1 h-100 gradient" style="">
                            <span th:text="${post.category.title}" class="post-category text-white bg-primary"></span>
                            <div class="text">
                                <h4 th:text="${post.title}"></h4>
                                <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related Posts Section Ends -->
    </div>
</body>
</html>